<div class="modal fade" id="add-bookmark-dialog" tabindex="-1" role="dialog" aria-labelledby="add-bookmark-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button id="closeAddBookmarkCross" type="button" class="close" data-dismiss="modal" tabindex="0" title="{{strings.i18n_close}} {{strings.i18n_add_bookmark}}" aria-label="{{strings.i18n_close}} {{strings.i18n_add_bookmark}}"><span aria-hidden="true">&times;</span></button>

                <h2 class="modal-title" id="add-bookmark-label" tabindex="0">New Bookmark</h2>
            </div>
            <div class="modal-body">
                <div class="bookmarkInputContainer">
                    <input type="text" placeholder="Bookmark name..." id="bookmarkInput" aria-label="bookmark name">
                </div>
            </div>
            <div class="modal-footer">
                <button id="add-bookmark-submit" tabindex="0" type="button" class="btn btn-primary" data-dismiss="modal">Add Bookmark</button>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->