<div class="modal fade" id="analytics-spinner-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="analytics-spinner-label">Loading Analytics</h4>
            </div>
            <div id="analytics-spinner-body" class="modal-body">
                
            </div>
        </div>
        <!-- /.modal-content --> 
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->