<div class="modal fade" id="fullscreen-image-dialog" tabindex="-1" role="dialog" aria-labelledby="fullscreen-image-label">
    <div class="modal-dialog" style="width: 99% !important;">
        <div class="modal-content">
            <div class="modal-header">

                <button id="closeFullscreenImageCross" type="button" class="close" data-dismiss="modal" tabindex="0" title="{{strings.i18n_close}} {{strings.i18n_fullscreen_image}}" aria-label="{{strings.i18n_close}} {{strings.i18n_fullscreen_image}}"><span aria-hidden="true">&times;</span></button>

                <h2 class="modal-title" id="fullscreen-image-label">{{strings.i18n_fullscreen_image}}</h2>
            </div>
            <div class="modal-body">
                <div class="fullscreenImageContainer">
                    <img style="width: 100%;" id="fullscreenImage" src="" alt="No Image Selected">
                </div>
            </div>
<!--             <div class="modal-footer">
                <button id="add-bookmark-submit" tabindex="1000" type="button" class="btn btn-primary" data-dismiss="modal">Add Bookmark</button>
            </div> -->
        </div>
        <!-- /.modal-content --> 
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->