<div class="modal fade" id="install-ios-reader-dialog" tabindex="-1" role="dialog" aria-labelledby="install-reader-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button id="closeInstallIosReadercross" type="button" class="close" data-dismiss="modal" tabindex="0" title="{{strings.i18n_close}} {{strings.i18n_install_ios_reader}}" aria-label="{{strings.i18n_close}} {{strings.i18n_install_ios_reader}}"><span aria-hidden="true">&times;</span></button>

                <h2 class="modal-title" id="install-ios-reader-label">{{strings.i18n_install_ios_reader}}</h2>
            </div>
            <div class="modal-body">
                <p>First, tap the share button at the top of the browser window.</p>
                <img src="{{{imagePathPrefix}}}images/ios-share-icon.png" alt="{{{strings.i18n_alt_ios-share-icon}}}">
                <p>Then, tap the add to home screen button.</p>
                <img src="{{{imagePathPrefix}}}images/ios-add-home-screen-icon.png" alt="{{{strings.i18n_alt_ios-add-home-screen-icon}}}">
            </div>
            <div class="modal-footer">
                <button id="install-ios-reader-submit" tabindex="0" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->