<div class="modal fade" id="install-reader-dialog" tabindex="-1" role="dialog" aria-labelledby="install-reader-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button id="closeInstallReadercross" type="button" class="close" data-dismiss="modal" tabindex="999" title="{{strings.i18n_close}} {{strings.i18n_install_reader}}" aria-label="{{strings.i18n_close}} {{strings.i18n_install_reader}}"><span aria-hidden="true">&times;</span></button>

                <h4 class="modal-title" id="install-reader-label">Download finished</h4>
            </div>
            <div class="modal-body">
                <p><span id="downloaded-book-title">MCDP 7 Interactive E-Book</span> has been added to your web bookshelf.</p>
                <p>To add this to your desktop for extended offline use, see <a target="_blank" href="https://peblproject.org/install-reader.html">these instructions</a>.</p>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->