<div class="modal fade" id="install-reader-dialog" tabindex="-1" role="dialog" aria-labelledby="install-reader-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button id="closeInstallReadercross" type="button" class="close" data-dismiss="modal" tabindex="999" title="{{strings.i18n_close}} {{strings.i18n_install_reader}}" aria-label="{{strings.i18n_close}} {{strings.i18n_install_reader}}"><span aria-hidden="true">&times;</span></button>

                <h4 class="modal-title" id="install-reader-label">Install eReader</h4>
            </div>
            <div class="modal-body">
                <p>Success! Your bookshelf has been downloaded and the eReader is ready to install.</p>
            </div>
            <div class="modal-footer">
                <button id="install-reader-submit" tabindex="1000" type="button" class="btn btn-primary" data-dismiss="modal">Install</button>

                <button id="install-reader-cancel" tabindex="1000" type="button" class="btn btn-primary" data-dismiss="modal">{{strings.i18n_cancel}}</button>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->