<div id="readium-toc-body" aria-label="{{strings.toc}}" role="navigation"></div>
<div id="annotations-body" aria-label="{{strings.annotations}}" role="annotations">
	<h3>My Private Annotations</h3>
	<div id="my-annotations"></div>
	<h3>My Shared Annotations</h3>
	<div id="my-shared-annotations"></div>
	<h3>Shared Annotations</h3>
	<div id="general-shared-annotations"></div>
</div>
<div id="bookmarks-body" aria-label="{{strings.bookmarks}}" role="bookmarks"></div>

<div id="reading-area" role="main">  
  <div id="epub-reader-container">
    <div id="epub-reader-frame">
    </div>
  </div>
  
  <div id="readium-page-btns" role="region" aria-label="{{strings.i18n_page_navigation}}">
    <!-- page left/right buttons inserted here when EPUB is loaded (page progression direction) -->
  </div>

  <div id="readium-slider">
    <div id="readium-page-counter">
      <span id="readium-page-count">1</span>
    </div>
  </div>
  
</div>
