<div id="readium-toc-body" class="sidebar-body" aria-label="{{strings.toc}}" role="aside"></div>

<div id="annotations-body"class="sidebar-body" aria-label="{{strings.annotations}}" role="aside">
	<h3><img src="images/pebl-icons-wip_highlight-list.svg" aria-hidden="true" height="18px"> My Private Annotations</h3>
  <button id="downloadAnnotationsButton">Download notes and annotations</button>
	<div id="my-annotations"></div>
  {{^disabledFeatures.sharedAnnotations}}
	<h3><img src="images/pebl-icons-wip_highlight-list.svg" aria-hidden="true" height="18px"> My Shared Annotations</h3>
	<div id="my-shared-annotations"></div>
	<h3><img src="images/pebl-icons-wip_highlight-list.svg" aria-hidden="true" height="18px"> Shared with Me</h3>
  <button id="hideSharedAnnotationsButton">Hide shared annotations</button>
	<div id="general-shared-annotations"></div>
  {{/disabledFeatures.sharedAnnotations}}
</div>

<div id="bookmarks-body"class="sidebar-body" aria-label="{{strings.bookmarks}}" role="aside"></div>

<div id="search-body" class="sidebar-body" aria-label="{{strings.search}}" role="aside"></div>

<div id="reading-area" role="region" aria-label="Book Content">  
  <div id="epub-reader-container">
    <div id="epub-reader-frame">
    </div>
  </div>
  
  <div id="readium-page-btns" role="nav">
    <!-- page left/right buttons inserted here when EPUB is loaded (page progression direction) -->
  </div>

  <div id="readium-slider" title="Book Slider" role="slider"></div>
  
</div>

<select style="display: none; position: absolute; top: -100vh;" id="iosKeyboardClearInput"></select>
