<div id="readium-toc-body" class="sidebar-body" aria-label="{{strings.toc}}" role="navigation"></div>
<div id="annotations-body"class="sidebar-body" aria-label="{{strings.annotations}}" role="annotations">
	<h2><img src="images/pebl-icons-wip_highlight-list.svg" aria-hidden="true" height="18px"> My Private Annotations</h2>
	<div id="my-annotations"></div>
	<h3><img src="images/pebl-icons-wip_highlight-list.svg" aria-hidden="true" height="18px"> My Shared Annotations</h3>
	<div id="my-shared-annotations"></div>
	<h3><img src="images/pebl-icons-wip_highlight-list.svg" aria-hidden="true" height="18px"> Shared with Me</h3>
	<div id="general-shared-annotations"></div>
</div>
<div id="bookmarks-body"class="sidebar-body" aria-label="{{strings.bookmarks}}" role="bookmarks"></div>

<div id="reading-area" role="main">  
  <div id="epub-reader-container">
    <div id="epub-reader-frame">
    </div>
  </div>
  
  <div id="readium-page-btns" role="region" aria-label="{{strings.i18n_page_navigation}}">
    <!-- page left/right buttons inserted here when EPUB is loaded (page progression direction) -->
  </div>

  <div id="readium-slider">

  </div>
  
</div>

<select style="display: none; position: absolute; top: -100vh;" id="iosKeyboardClearInput"></select>
