<div class="modal fade" id="install-spinner-dialog" tabindex="-1" role="dialog" aria-labelledby="install-spinner-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button id="closeInstallSpinnercross" type="button" class="close" data-dismiss="modal" tabindex="0" title="{{strings.i18n_close}} {{strings.i18n_install_spinner}}" aria-label="{{strings.i18n_close}} {{strings.i18n_install_spinner}}"><span aria-hidden="true">&times;</span></button>

                <h2 class="modal-title" id="install-spinner-label">Downloading your Library. Please do not close this window until the process is complete.</h2>
            </div>
            <div id="install-spinner-body" class="modal-body">
                
            </div>
        </div>
        <!-- /.modal-content --> 
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->